.testimonialSection > div {
  display: grid;
  grid-template-columns: repeat(4, 202px);
  justify-content: space-around;
  margin-top: 1rem;
}
.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*SERVICE QUERY*/
@media only screen and (max-width: 1024px) {
  .testimonialSection > div {
    grid-template-columns: repeat(3, 202px);
    gap: 1rem;
  }
}
@media only screen and (max-width: 720px) {
  .testimonialSection > div {
    grid-template-columns: repeat(2, 202px);
  }

  
}
@media only screen and (max-width: 440px) {
  .testimonialSection > div {
    grid-template-columns: repeat(1, 280px);
  }
  .testimonialCard img {
    width: 280px;
  }
}
@media only screen and (max-width: 300px) {
  .testimonialSection > div {
    grid-template-columns: repeat(1, 220px);
  }
  .testimonialCard img {
    width: 220px;
  }
}