.AboutContact{
  border: 1px solid red;
}
.TextSectionContact {
  margin-left: -110%;
  margin-top: 1px;
  text-align: center;
  font-size: 150%;
  width: 300%;
  color: white;
  display: flex;
  flex-direction: column;
}
.contactLink{
  outline: none;
}
.contactLink:link{
  color: rgb(255, 255, 255)
}
.contactwh {
  display: flex;
  width: 100%;
  justify-content: center;
 }
