/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
.body {
  display: flex;
  flex-direction: row;
  padding:1%;
  min-height: 80%;
  height: 100%;
  width: 100%;
  font-size: 130%;
  padding-bottom: 7rem;
  position: relative;
  margin: 0.2%;
  border: solid rgb(255, 0, 157);
} 
.About{
  height: 100%;
  width: 100%;
  border: solid black;
}
.back{
  background-color: #282c34;
}
/* @media screen and (max-width: 1040px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0rem 0 0rem;
    min-height: 100%;
    height: 632px;
    width: 840px;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    position: relative;
    margin-top: 3px;
    border: solid rgb(60, 0, 255);
  } 
}
@media screen and (max-width: 779px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0rem 0 0rem;
    min-height: 100%;
    height: fit-content;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    position: relative;
    margin-top: 3px;
    border: solid rgb(255, 0, 0);
  } 
}
@media screen and (max-width: 482px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0rem 0 0rem;
    min-height: 100%;
    height: fit-content;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    position: relative;
    margin-top: 3px;
    border: solid rgb(255, 0, 119);
  } 
}
@media screen and (max-width: 445px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0rem 0 0rem;
    min-height: 100%;
    height: fit-content;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    position: relative;
    margin-top: 3px;
    border: solid rgb(255, 132, 0);
  } 
}
@media screen and (max-width: 400px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0rem 0 0rem;
    min-height: 90%;
    height: fit-content;
    font-size: 1rem;
    padding-bottom: 5rem;
    position: relative;
    margin: 1px;
    border: solid rgb(4, 58, 82);
  } 
} */
