
.servicesSection > div{
  display: grid;
  grid-template-columns: repeat(3,302px);
  justify-content:space-around;
  margin-top: .5rem;
  
}
.serviceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceCard > p{
  padding: 0 1rem;
}

/*SERVICE QUERY*/
@media only screen and (max-width:1024px) {
  .servicesSection > div{
    grid-template-columns: repeat(2,302px);
    justify-content: unset;
    gap: 1rem;
  }
}
@media only screen and (max-width:655px) {
  .servicesSection > div{
    grid-template-columns: repeat(1,280px);
    justify-content: center;
  }
  .servicesSection > div img{
    width: 279px;
  }
  .serviceCard > p{
    padding: 0;
  }
}
@media only screen and (max-width:320px) {
  
  .servicesSection > div img{
    width: 240px;
  }
}